<ul>
	{% for post in collections.posts | reverse %}
	  <li>
		<a href="{{ post.url }}" class="post-link" data-post-id="{{ post.fileSlug }}" onclick="markAsRead('{{ post.fileSlug }}')">
		  {{ post.data.title }}
		</a>
		<time datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
	  </li>
	{% endfor %}
</ul>